.about__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 

    @media screen and (max-width: 750px) {
      background-color: #548ca8;
      color: #fff;
  } 
  
  }
  
  .about__name {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    margin-top: 3rem; 
    /* @media screen and (max-width: 750px) {
      width: 25rem;
  }  */
  }
  
  .about__border {
    width: 10% !important;
    margin-bottom: 2rem; 
    @media screen and (max-width: 750px) {
      background-color: #fff;
    } 
  }
  
  .about__content {
    display: grid;
    grid-template-columns: repeat(2,1fr);    
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all .7s; 
    border: none;
    @media screen and (max-width: 750px) {
      display: flex;
      margin-top: 0;
    } 
  }
  
  .about__logo {
    width: 35%; 
    justify-self: center;
    @media screen and (max-width: 1200px) {
      width: 40%;
    }
    @media screen and (max-width: 900px) {
      width: 50%;
    }
    @media screen and (max-width: 750px) {
      display: none;
    }
    /* @media screen and (max-width: 600px) {
      width: 50%;
    }
    @media screen and (max-width: 450px) {
      width: 60%;
    } */
  }
  
  .about__text {
  font-size: 3rem; 
  justify-self: start;
  width: 100%;
  background-color: #548ca8;
  color: #fff;
  width: 100%;
  height: 100%;
  font-weight: bold;
  padding: 5rem;
}
  
  /* .about__content.show {
    opacity: 1 !important;
    filter: blur(0) !important;
    transform: translateY(0) !important; } */

    .border-bottom {
      border-bottom: 3px solid #548ca8;
      width: 20%;
      transition: all .3s; 
    
      @media screen and (max-width: 750px) {
        border-bottom: 3px solid #fff;
    } 
    }