#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 130vh;
  background: #808d93; 
  @media screen and (max-width: 600px) {
    display: none;
  } 
}

#progressBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 130vh;
  background: #548ca8;
  z-index: 2; 
  @media screen and (max-width: 600px) {
    display: none;
  } 
}
  

