.border-bottom {
  border-bottom: 3px solid #548ca8;
  width: 20%;
  transition: all .3s; }

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
 }

::selection {
  background-color: #548ca8;
  color: #fff; }



body {
  font-family: 'Poppins', sans-serif;
  position: relative; }

.container {
  width: 1200px;
  margin: 0 auto; }

/* .home__layout {
  width: 100%;
  display: flex; }

.home__content {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  margin-left: auto; } */

::-webkit-scrollbar {
  width: 0px; 
}

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: #808d93; }

#progressBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: #548ca8;
  z-index: 2; }

::-webkit-scrollbar-track {
  background: #808d93; }

::-webkit-scrollbar-thumb {
  background: #548ca8;
  border-radius: 5px; }

::-webkit-scrollbar-thumb:hover {
  background: #548ca8; }

/* .offcanvas {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 60%;
  height: 100vh;
  z-index: 0; }
  .offcanvas__btn {
    background-color: transparent;
    font-size: 2.5rem;
    border: none;
    color: #548ca8; }
  .offcanvas__body {
    width: 30%;
    height: 100vh;
    background-color: #548ca8;
    padding: 3rem; }
  .offcanvas__item {
    font-size: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center; }
    .offcanvas__item svg {
      font-size: 4rem; }
  .offcanvas__close {
    position: absolute;
    z-index: 5;
    top: 2rem;
    left: 17rem;
    border: none;
    background-color: transparent;
    outline: none; }
    .offcanvas__close svg {
      color: #fff;
      font-size: 3rem; } */

/* .alert {
  width: 40%;
  margin: 0 auto; }
  .alert p {
    font-size: 2rem; } */

/* .nav {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav__logo-wrap {
    display: flex;
    align-items: center; }
    .nav__logo-wrap p {
      font-size: 2.0rem;
      margin-left: 2rem;
      color: black; }
      .nav__logo-wrap p span {
        margin-right: 1rem;
        font-size: 2rem;
        line-height: 1.5; }
  .nav__item-wrap {
    display: flex;
    list-style: none;
    gap: 3rem; }
  .nav__logo {
    width: 8rem; }
  .nav__item p {
    font-size: 1.6rem; }
  .nav__item a:visited,
  .nav__item a:link {
    text-decoration: none;
    color: black !important;
    font-size: 1.8rem;
    position: relative;
    display: inline; }
  .nav__item a::before {
    content: '';
    height: 3px;
    width: 0%;
    position: absolute;
    bottom: -.2rem;
    left: 0;
    background-color: #548ca8;
    transition: all .3s; }
  .nav__item a:hover::before {
    width: 100%; }

.navdark {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navdark__logo-wrap {
    display: flex;
    align-items: center; }
    .navdark__logo-wrap p {
      font-size: 2.0rem;
      margin-left: 2rem;
      color: #fff; }
      .navdark__logo-wrap p span {
        margin-right: 1rem;
        font-size: 2rem;
        line-height: 1.5; }
  .navdark__item-wrap {
    display: flex;
    list-style: none;
    gap: 3rem; }
  .navdark__logo {
    width: 8rem; }
  .navdark__item p {
    font-size: 1.6rem;
    color: #fff; }
  .navdark__item a:visited,
  .navdark__item a:link {
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    position: relative;
    display: inline; }
  .navdark__item a::before {
    content: '';
    height: 3px;
    width: 0%;
    position: absolute;
    bottom: -.2rem;
    left: 0;
    background-color: #548ca8;
    transition: all .3s; }
  .navdark__item a:hover::before {
    width: 100%; }

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5); }
  .header::before {
    content: '';
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1; }
  .header__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    pointer-events: none; }
  .header__content {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    opacity: 0;
    align-items: center;
    width: 40%;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
    transition: all 1.5s; }
    .header__content h1 {
      line-height: 1.6;
      font-size: 4rem;
      font-weight: 500; }
    .header__content p {
      font-size: 3rem; }
    .header__content button {
      padding: 1.5rem 2.5rem;
      font-family: 'Poppins','sans-serif';
      border-radius: 1rem;
      background-color: #548ca8;
      color: #fff;
      border: none;
      font-size: 1.5rem;
      margin-top: 1rem;
      transition: all .4s; }
      .header__content button a {
        text-decoration: none;
        color: #fff; }
      .header__content button:focus {
        outline: none; }
      .header__content button:hover {
        background-color: #fff;
        color: #012156; }
        .header__content button:hover a {
          color: #012156; }

.courses__design {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  gap: 2rem;
  padding: 1.5rem; }

.courses__link:link, .courses__link:visited {
  color: black;
  text-decoration: none; }

.courses__office {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  gap: 2rem;
  padding: 1.5rem; }

.courses__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.courses__name {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  margin-top: 3rem; }

.course {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  width: 25rem;
  height: 35rem;
  background-color: rgba(128, 141, 147, 0.1);
  border-radius: 2rem;
  opacity: 0;
  transform: translateY(50%);
  transition: all .7s; }
  .course__1:hover {
    background-color: #00325a !important;
    color: #fff; }
  .course__2:hover {
    background-color: #630303 !important;
    color: #fff; }
  .course__3:hover {
    background-color: #699806 !important;
    color: #fff; }
  .course__4:hover {
    background-color: #690e40 !important;
    color: #fff; }
  .course__5:hover {
    background-color: #1f6ddd !important;
    color: #fff; }
  .course__6:hover {
    background-color: #d96b4d !important;
    color: #fff; }
  .course__7:hover {
    background-color: #14994f !important;
    color: #fff; }
  .course:hover {
    transform: translateY(-1rem);
    background-color: rgba(128, 141, 147, 0.4); }
  .course__name {
    font-size: 2rem;
    font-weight: 400; }
  .course__img {
    width: 40%;
    border-radius: 2rem; }
  .course__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem; }
  .course__list-item {
    font-size: 1.4rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .course__price {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace; }
  .course__link {
    text-decoration: none;
    color: currentColor; }

.course.show {
  opacity: 1 !important;
  filter: blur(0) !important;
  transform: translateY(0) !important; }

.footer {
  background-color: #001432;
  color: #fff;
  height: 17vh;
  width: 100%;
  margin-top: 2rem; }
  .footer .container {
    height: 100%; }
  .footer__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    height: 100%; }
  .footer__text {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 300; }
  .footer__img-wrap {
    width: 100%;
    display: flex;
    justify-content: center; }
  .footer__img {
    width: 25%; }
  .footer__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem; }
  .footer__link:visited, .footer__link:link {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
    transition: all .2s; }
  .footer__link:hover {
    color: rgba(255, 255, 255, 0.7); }

.about__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; }

.about__name {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  margin-top: 3rem; }

.about__border {
  width: 10% !important;
  margin-bottom: 2rem; }

.about__content {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(50%);
  transition: all .7s; }

.about__logo {
  width: 60%; }

.about__text {
  font-size: 1.4rem; }

.about__content.show {
  opacity: 1 !important;
  filter: blur(0) !important;
  transform: translateY(0) !important; } */

/* .contact__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; }

.contact__name {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  margin-top: 3rem; }

.contact__border {
  width: 10% !important;
  margin-bottom: 2rem; }

.contact__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center; }

.contact__info {
  background-color: #548ca8;
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding: 2rem; }
  .contact__info h2 {
    font-size: 5rem; }

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 2rem; }
  .contact__form div {
    display: flex;
    flex-direction: column; }
    .contact__form div label {
      font-size: 1.6rem; }
    .contact__form div input {
      width: 70%;
      padding: 1rem;
      border: none;
      outline: none;
      font-size: 1.6rem; }
  .contact__form button {
    color: #fff;
    background-color: #808d93;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    padding: 1rem 1.5rem; }

.contact__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem; }
  .contact__list i {
    margin-right: 1rem; }

.contact__link:visited, .contact__link:link {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  transition: all .2s; } */

/* .loading {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  overflow: hidden; }
  .loading__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; }
  .loading__logo {
    width: 150px;
    animation: fadeOut .5s ease-in-out; }
  .loading__text {
    font-size: 3rem;
    animation: text_animation 1s linear;
    opacity: 0;
    animation-delay: 1s; }

@keyframes fadeOut {
  0% {
    transform: translateX(10rem); }
  100% {
    transform: translateX(-0.6rem); } }

@keyframes text_animation {
  0% {
    display: none;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } } */

/* .course-detail {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  gap: 5rem; }
  .course-detail__img {
    width: 70%;
    justify-self: end; }
  .course-detail__content {
    display: flex;
    flex-direction: column;
    gap: 4rem; }
  .course-detail__name {
    font-size: 3.5rem; }
  .course-detail__description {
    font-size: 2rem; }
  .course-detail__price {
    font-size: 2rem;
    font-weight: 600; } */

/* .login {
  position: relative;
  width: 100%;
  height: 100%; }
  .login__form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, 30%);
    gap: 2rem;
    width: 700px; }
    .login__form h2 {
      font-size: 3rem;
      text-align: left; }
    .login__form div {
      display: flex;
      flex-direction: column; }
      .login__form div label {
        font-size: 1.6rem; }
      .login__form div input {
        width: 70%;
        padding: 1rem;
        border: none;
        outline: none;
        font-size: 1.6rem;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px; }
    .login__form button {
      color: #fff;
      background-color: #548ca8;
      width: 70%;
      border: none;
      outline: none;
      border-radius: 5px;
      font-size: 1.6rem;
      font-family: 'Poppins', sans-serif;
      padding: 1rem 1.5rem; } */

body {
  cursor: url("../../public/images/cursor.svg"), auto !important; }

/* .up_btn:visited, .up_btn:link {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  text-decoration: none;
  padding: 2rem;
  background-color: #548ca8;
  color: #fff;
  border-radius: 50%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5; } */
